.generic-post {
    padding: 20px;
    background-color: var(--secondary-background);
    max-width: 800px;
    width: 100%;
    border-radius: 8px;
    margin-left: auto;
    margin-right: auto;
}

.generic-post-header {
    display: flex;
    justify-content: space-between;
}

.generic-post-title {
    margin: 0;
}

.generic-post-date {
    align-self: center;
}

.generic-post-description {
    font-style: italic;
    font-weight: 300;
    font-size: .9em;
    margin: 0;
}

@media screen and (max-width: 500px) {
    .generic-post-header {
        display: initial;
    }
}