.sidebar-nav {
    display: inline-flex;
    flex-direction: column;
    justify-content: start;
    background-color: var(--tertiary-background);
    overflow: hidden;
    height: 100%;
    width: 200px;
    position: absolute;
    right: 0;
    transition-delay: .1s;
    transition: width .5s ease-in-out;
    border-left: 1px solid var(--secondary-text);
}

.sidebar-nav * {
    color: var(--primary-text);
}

.closed {
    /* Chrome freaks out if you translate stuff of the page, so we are just doing width instead */
    width: 0;
}

.sidebar-link {
    display: flex;
    padding: 20px;
    border-bottom: 1px solid var(--secondary-text);
    line-height: 1;
    font-family: "Roboto Slab";
}

.sidebar-link > span {
    margin-left: 20px;
}

.sidebar-link-active {
    -webkit-box-shadow: inset 10px 0px 11px -7px var(--default-purple); 
    box-shadow: inset 10px 0px 11px -7px var(--default-purple);
    /* border-left: 1px solid var(--default-purple); */
}