.sidebar-nav {
    display: inline-flex;
    flex-direction: column;
    justify-content: start;
    background-color: white;
    overflow: hidden;
    width: 200px;
    /* TODO Make this less terrible */
    height: calc(100vh - 94px);
    position: absolute;
    right: 0;
    transition-delay: .1s;
    transition: width .5s ease-in-out;
    border-left: 1px solid lightgray;
}

.closed {
    /* Chrome freaks out if you translate stuff of the page, so we are just doing width instead */
    width: 0;
}

.sidebar-link {
    display: flex;
    padding: 20px;
    border-bottom: lightgray 1px solid;
}

.sidebar-link > span {
    margin-left: 20px;
}

.sidebar-link-active {
    -webkit-box-shadow: inset 7px 0px 5px -7px var(--default-purple); 
    box-shadow: inset 7px 0px 5px -7px var(--default-purple);
}