.about {
    margin-top: 20px;
    background: linear-gradient(75deg, var(--default-pink) 35%, var(--default-purple) 85%);
    max-width: 800px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.about-content {
    background-color: var(--secondary-background);
    padding: 20px;
}

.about-header {
    padding: 0 20px;
    display: flex;
}

.about, .about-content {
    border-radius: 8px;
}

.about-photo {
    position: relative;
    top: -15px;
    left: 30px;
    height: 150px;
    border-radius: 50%;
    border: 2px solid var(--primary-text);
}

.about-header-info {
    padding-left: 60px;
    padding-top: 30px;
}

.about-header-title {
    text-transform: uppercase;
    font-family: "Roboto Slab", serif;
    font-size: 1.4em;
    font-weight: bold;
}

.about-header-subtitle {
    font-style: italic;
    font-size: .9em;
    font-weight: 300;
}