.about {
    margin-top: 20px;
    background: linear-gradient(75deg, var(--default-pink) 35%, var(--default-purple) 85%);
    max-width: 800px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.about-content {
    background-color: var(--secondary-background);
    padding: 20px;
}

.about-header {
    padding: 0 20px;
    display: flex;
}

.about, .about-content {
    border-radius: 8px;
}

.about-photo {
    position: relative;
    top: -15px;
    left: 30px;
    height: 150px;
    width: 128px;
    border-radius: 50%;
    border: 2px solid var(--primary-text);
}

.about-header-info {
    padding-left: 60px;
    padding-top: 20px;
    padding-bottom: 15px;
    margin-top: auto;
    margin-bottom: auto;
}

.about-header-title {
    text-transform: uppercase;
    font-family: "Roboto Slab", serif;
    font-size: 1.4em;
    font-weight: bold;
    line-height: 1.3em;
}

.about-header-subtitle {
    font-style: italic;
    font-size: .9em;
    font-weight: 300;
    line-height: 1.3em;
}

.about-media {
    margin-top: 5px;
}

.about-media > a  {
    line-height: 1.3em;
    display: block;
}

.about-media span {
    font-size: .9em;
    font-weight: 300;
    margin-left: 5px;
}

@media screen and (max-width: 500px) {
    .about-header {
        flex-direction: column;
    }

    .about-photo {
        left: 0px;
        margin-right: auto;
        margin-left: auto;
    }

    .about-header-info {
        padding-left: 0px;
        padding-top: 0px;
        padding-bottom: 10px;
    }
}