html, body, #root {
    height: 100%;
    width: 100%;
    font-size: 18px;
    line-height: 1.7;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-color: var(--primary-background);
    color: var(--primary-text);
}

body * {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

a:link, a:visited, a:hover, a:active {
    color: black;
}

.generic-article {
    padding: 20px;
    justify-content: center;
    /* TODO Figure out how to get the background to extend out */
    /* background-color: var(--secondary-background); */
    width: 100%;
    height: 100%;
}

.content {
    display: flex;
    justify-content: center;
    width: 800px;
    height: 100%;
    transition: filter .5s ease-in-out;
}

.content-area {
    display: flex;
    justify-content: center;
    overflow-y: auto;
    /* TODO figure this out... again */
    height: calc(100% - 72px);
}

.blur {
    filter: blur(2px);
}
/* 
VARIABLES
*/

:root {
    --default-purple: #5e30a8;
    --primary-background: #18191A;
    --secondary-background: #242526;
    --tertiary-background: #3A3B3C;
    --primary-text: #E4E6EB;
    --secondary-text: #B0B3B8;
}