html, body, #root {
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

body * {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

a:link, a:visited, a:hover, a:active {
    color: black;
}

.generic-article {
    padding: 20px;
    justify-content: center;
}

.content-area {
    display: flex;
    overflow-y: auto;
    height: 100%;

}

.content {
    display: flex;
    justify-content: center;
    width: 100%;
    transition: filter .5s ease-in-out;
}

.blur {
    filter: blur(2px);
}
/* 
VARIABLES
*/

:root {
    --default-purple: #5e30a8;
}